<div class="table-container mat-elevation-z8">
  <mat-progress-bar *ngIf="loading()" mode="indeterminate"></mat-progress-bar>

  <div class="controls">
    <mat-form-field appearance="outline">
      <mat-label>Поиск</mat-label>
      <input
        matInput
        [ngModel]="searchTerm()"
        (ngModelChange)="onSearch($event)"
        placeholder="Поиск..."
      />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Пользователей на странице</mat-label>
      <mat-select
        [ngModel]="pageSize()"
        (ngModelChange)="onPageSizeChange($event)"
      >
        <mat-option [value]="5">5 пользователей</mat-option>
        <mat-option [value]="10">10 пользователей</mat-option>
        <mat-option [value]="20">20 пользователей</mat-option>
      </mat-select>
    </mat-form-field>

    <button
      mat-raised-button
      [matMenuTriggerFor]="columnMenu"
      class="column-toggle-button"
    >
      <mat-icon>view_column</mat-icon>
      Настройка столбцов
    </button>

    <mat-menu #columnMenu="matMenu">
      <div class="column-menu-content">
        <mat-checkbox
          *ngFor="let col of visibleColumns() | keyvalue"
          [checked]="visibleColumns()[col.key]"
          (change)="onColumnToggle(col.key, $event.checked)"
        >
          {{ col.key }}
        </mat-checkbox>
      </div>
    </mat-menu>
  </div>

  <table mat-table [dataSource]="paginatedUsers()" class="mat-elevation-z0">
    <ng-container
      *ngFor="let column of displayedColumns()"
      [matColumnDef]="column"
    >
      <th mat-header-cell *matHeaderCellDef (click)="onSort(column)">
        {{ column }}
        <mat-icon *ngIf="sortColumn() === column">
          {{ sortDirection() === "asc" ? "arrow_upward" : "arrow_downward" }}
        </mat-icon>
      </th>
      <td mat-cell *matCellDef="let user">
        <ng-container *ngIf="column === 'name'">
          {{ user.name?.first }} {{ user.name?.last }}
        </ng-container>
        <ng-container *ngIf="column === 'isActive'">
          <mat-icon [color]="user.isActive ? 'accent' : ''">
            {{ user.isActive ? "check_circle" : "cancel" }}
          </mat-icon>
        </ng-container>
        <ng-container *ngIf="column !== 'name' && column !== 'isActive'">
          {{ user[column] }}
        </ng-container>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns()"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns()"></tr>
  </table>

  <mat-paginator
    [length]="filteredUsers().length"
    [pageSize]="pageSize()"
    [pageIndex]="currentPage() - 1"
    [pageSizeOptions]="[5, 10, 20]"
    (page)="onPageChange($event)"
    showFirstLastButtons
  >
  </mat-paginator>
</div>
